<%- include("header") -%>
<h2 style="text-align: center;">This aweasome app is made for making ToDoList. You can use it for free</h2>
<div style="width: 35%; margin: auto;" >
    <a href="/work"><button>Work</button></a><a href="/about"><button>About</button></a><a href="/"><button style="width: 100%;">Home</button></a>
</div>

<%- include("footer") -%>